/* Container do formulário de login */
.login-form-container {
    background-color: transparent;
    padding: 2rem 3rem;
    border-radius: 15px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 100%;
    max-width: 500px; /* Mais estreito que o de cadastro */
    margin: 0 auto;
    z-index: 1;
}

/* Botão de login com largura total */
.login-button {
    width: 100%;
    margin-top: 1rem; /* Espaço acima do botão */
}

/* Link para a página de cadastro */
.signup-link {
    margin-top: 25px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
}

.signup-link a {
    color: #FEBF00; /* Dourado */
    font-weight: 600;
    text-decoration: none;
    transition: text-decoration 0.2s ease-in-out;
}

.signup-link a:hover {
    text-decoration: underline;
}